// ------------------------------------------------------ //
// General Settings
// ---------------
//
// ------------------------------------------------------ //
// Padding
//
$padding: 1.25rem;
// sass-lint:disable-all
// ----------------------------------------------------------------------------------- //
// reference material
// scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
// css-tricks.com/snippets/css/media-queries-for-standard-devices
// ----------------------------------------------------------------------------------- //
// below is a really comprehensive guide to break points
// responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
// ----------------------------------------------------------------------------------- //
// iphone  || small devices || desktops || wide screens || large screens || super wide //
// xs: 320 || sm: 480       || md: 768  || lg: 1024     || xl: 1274      || xxl: 1548  //
// ----------------------------------------------------------------------------------- //
$container-max-widths: (xs: 90%, sm: 400px, md: 688px, lg: 944px, xl: 1194px, xxl: 1468px);
$grid-breakpoints: (xs: 0, sm: 480px, md: 768px, lg: 1024px, xl: 1274px, xxl: 1548px);
// ------------------------------------------------------ //
// Columns
//
$grid-columns: 12;
$grid-gutter-width-base: 1vw;
// sass-lint:enable-all
// ------------------------------------------------------ //
// Colors
// ------
//
// Grays
$white: #fff;
$off-white: #efefef;
$gray-light: #e0e0e0;
$gray: #7c8a9a;
$gray-dark: darken($gray, 20%);
$off-black: darken($gray, 30%);
$black: darken($gray, 40%);
// ------------------------------------------------------ //
// Design Colors
//
$deep-sapphire: #032349;
$deep-sapphire-light: lighten($deep-sapphire, 15%);
$curious-blue: #24a2e5;
$curious-blue-dark: darken($curious-blue, 15%);
$red-dark: #a20b10;
$red-light: #f61118;
$yellow: #f4c340;
$yellow-dark: #e9ee99;
$someblue: #00c0ff;
$electric-violet: #bb05ff;
$fb-blue: #3b5998;
$tw-blue: #00aced;
$pt-red: #c22734;
$yt-red: #b00;
$ad-brdr: #41ade6;
$kashmir-blue: #46678c;
$hoki: #627e9d;

// ------------------------------------------------------ //
// Brand Definitions
//
$brand-primary: $deep-sapphire;
$brand-primary-alt: $deep-sapphire-light;
$brand-secondary: $curious-blue;
$brand-secondary-alt: $curious-blue-dark;
// ------------------------------------------------------ //
// Text Colors
//
$text-color-light: $white;
$text-color-medium: $gray;
$text-color-dark: $deep-sapphire;
// ------------------------------------------------------ //
// Link Colors
//
$link-color-primary: $brand-secondary;
$link-color-secondary: $brand-primary;
// ------------------------------------------------------ //
// Action Colors
//
$danger: $red-light;
$warning: $yellow;
$info: $someblue;
// ------------------------------------------------------ //
// Typography
// ------
$font-title: 'futura-pt', sans-serif;
$line-height: 1.5em;

$font-weight-thin: 300;
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// // ------------------------------------------------------ //
// // Font Sizes
// //
// $font-size-base: 1rem;
// $font-size-title: $font-size-base + 1.5;
// $font-size-sub-title: $font-size-base + 1;
// $font-size-text: $font-size-base;
// $font-size-md: $font-size-base + 0.25;
// $font-size-lg: $font-size-base + 0.5;
// $font-size-sm: $font-size-base - 0.25;
$font-size-base: 1rem;
$font-size-xs: $font-size-base - 0.4;
$font-size-sm: $font-size-base - 0.25;
$font-size-md: $font-size-base;
$font-size-lg: $font-size-base+0.5;
$font-size-xl: $font-size-base+1;
$font-size-xxl: $font-size-base+2;

$font-size-title: $font-size-xl;
$font-size-sub-title: $font-size-lg;
$font-size-text: $font-size-md;



// // ------------------------------------------------------ //
// Root Font Sizes
//
// $root-font-sizes: ( xs: 14px, sm: 16px, md: 18px, lg: 20px, xl: 22px, xxl: 24px);
//  Asset Paths
$path-img: '/Images';
