@keyframes flashError {
  0% {
    background: rgba(color(status, danger), 1);
  }
  100% {
    background: rgba(color(status, danger), 0);
  }
}

@keyframes blink {
  0%,
  100% {
    background: rgba(color(status, success-rgb), 1);
  }
  50% {
    background: rgba(color(status, success-rgb), 0);
  }
}
