@keyframes flashError {
  0% {
    background: rgba($danger, 1);
  }
  100% {
    background: rgba($danger, 0);
  }
}

@keyframes blink {
  0%,
  100% {
    background: rgba($accent, 1);
  }
  50% {
    background: rgba($accent, 0);
  }
}
