.code-gui {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(50vh, 80vh) minmax(15vh, 50vh) 8vh;
  grid-template-areas:
    "code render render"
    "code minimap minimap"
    "nav nav nav";
  height: 100vh;
}

.code-view {
  grid-area: code;
}

.render-view {
  grid-area: render;
}

.mini-maps {
  grid-area: minimap;
}

.lesson-nav {
  grid-area: nav;
  background: color(bg, dark);
  padding: $padding;
}
