.code-display {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 0.25s ease;
  position: relative;
}

.tabs {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -5px 0px color(minimap, bg);
}

.tab-group {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: $padding/2;
  border-top: 4px solid transparent;
  transition: all 0.25s ease;

  &:hover,
  &.focus {
    background: color(minimap, bg);
    border-top: 4px solid color(minimap, border);
  }
  &:focus {
    outline: none;
  }
}

.displays {
  background: color(minimap, bg);
  padding: $padding/2;
  height: calc(100% - 37px);
  position: relative;
}

.display {
  transition: all 0.25s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;

  &.focus {
    opacity: 1;
  }
}

.display-line {
  padding: 4px $padding/2;

  &:nth-child(even) {
    background: color(minimap, bg2);
  }
}
