.code-gui {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "lesson output output"
    "lesson output output"
    "lesson output output"
    "lesson minimap minimap"
    "lesson minimap minimap";
  height: 100vh;
}

.lesson-area {
  grid-area: lesson;
  background: pink;
}

.output {
  grid-area: output;
  background: #444;
}

.mini-maps {
  grid-area: minimap;
  background: goldenrod;
}
