$alpha: 0.2;
$transition-time: 0.25s;
$default-border-radius: 2px;
$full-border-radius: 50%;
$padding: 1rem;

$layout: (
  padding: (
    xs: $padding - 0.5,
    sm: $padding - 0.25,
    base: $padding,
    lg: $padding + 0.5,
    xl: $padding + 0.75,
  ),
);
