// .page-container {
//   width: 75vw;

//   @include max-screen("md") {
//     width: 95vw;
//   }
// }

// .page {
//   border-bottom: 1px solid color(border);
//   margin-bottom: layout(padding, md);
//   padding-bottom: layout(padding, md);
// }

// .page__title {
//   margin: 0 0 layout(padding, xs);
//   font-weight: font(weight, bold);
// }

// .page__desc {
//   margin: 0;
// }

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw - #{layout(padding, xxl)});
  max-width: 1000px;
  margin: 0 auto;
}

.page__title {
  font-size: font(title, xl);
}
