.page-container {
  width: 75vw;

  @include max-screen("md") {
    width: 95vw;
  }
}

.page {
  border-bottom: 1px solid color(border);
  margin-bottom: layout(padding, md);
  padding-bottom: layout(padding, md);
}

.page__title {
  margin: 0 0 layout(padding, xs);
  font-weight: font(weight, bold);
}

.page__desc {
  margin: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-actions {
}

.page-content {
  display: flex;
}

.lesson-data {
  flex: 1 0 50%;
  margin: 0 layout(spacing, md) 0;
}

.lesson-output {
  flex: 1 0 50%;
}
