.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 60px);
}

.welcome__title {
  font-size: font(title, xxl);

  &-thin,
  .-thin {
    font-weight: font(weight, light);
  }

  &-heavy,
  .-heavy {
    font-weight: font(weight, bold);
  }
}

.welcome__subtitle {
  font-size: font(title, sm);
}
