.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 66px);
}

.title {
  font-size: font(title, xxl);
  font-weight: font(weight, bold);
}

.title__thin {
  font-weight: font(weight, light);
}

.subtitle {
  font-size: font(title, sm);
}
