{% set title = "HTML CSS Index" %}
{% extends "partials/_layout.njk" %}
{% block content %}

  <div class="wrapper">
    <div class="welcome">
      <div class="welcome-inner">
        <h1 class="title">Welcome to Typer</h1>
        <p class="description">
          Typer is a tool to help you get better at typing HTML and CSS. There are a lot of rules and syntax you need to get used to and here you can practice.
        </p>
        <p>Select a lesson below to get started.</p>
        <nav>
          <a href="lesson1.html">Lesson 1</a>
          <a href="lesson2.html">Lesson 2</a>
          <a href="lesson3.html">Lesson 3</a>
          <a href="lesson4.html">Lesson 4</a>
          <a href="lesson5.html">Lesson 5</a>
          <a href="lesson6.html">Lesson 6</a>
        </nav>
      </div>
      <!-- /welcome-inner -->
    </div>
    <!-- /welcome -->
  </div>
  <!-- /wrapper -->

{% endblock content %}
