// Greys
$white: #ffffff;
$grey-1: #fafafa;
$grey-2: #efefef;
$grey-3: #eeeeee;
$grey-4: #e0e0e0;
$grey-5: #bdbdbd;
$grey-6: #9e9e9e;
$grey-7: #757575;
$grey-8: #616161;
$grey-9: #424242;
$black: #212121;

$amber: #ecb01a;
$amber-light: #ffc739;
$amber-dark: #c49215;

$cherry: #c51d0a;
$cherry-light: #ff331c;
$cherry-dark: #861003;

// $green: #11b822;
// $green-light: #1dee32;
// $green-dark: #0c8518;

$green: #3b8332;
$green-light: #5daf52;
$green-dark: #245a1d;

$ggg: 0, 255, 0;

$colors: (
  primary: (
    base: $cherry,
    light: $cherry-light,
    dark: $cherry-dark
  ),
  secondary: (
    base: $amber,
    light: $amber-light,
    dark: $amber-dark
  ),
  text: (
    light: $grey-2,
    medium: $grey-5,
    dark: $black
  ),
  bg: (
    white: $white,
    light: $grey-2,
    medium: $grey-4,
    dark: $grey-9,
    black: $black
  ),
  status: (
    danger: $cherry,
    success: $green
  ),
  links: (
    text: $green,
    bg: $grey-2,
    border: #e2fff3
  )
);
