*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: $font-title;
  background: $bg-gray;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.container {
  @include clearfix;
  @include make-container;
}
