// Animations
@keyframes flashError {
  0% {
    background: rgba(red, 1);
  }
  100% {
    background: rgba(red, 0);
  }
}

@keyframes blink {
  0% {
    background: rgba($black, 1);
  }
  50% {
    background: rgba($black, 0);
  }
  100% {
    background: rgba($black, 1);
  }
}
