.loading {
  @include gradientBG;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: inline-block;
    margin: 0 2px;
    opacity: 0;
    transform: scale(0.6);

    @for $i from 1 to 20 {
      &:nth-child(#{$i}) {
        animation: loading 1s linear #{$i/12}s infinite alternate;
      }
    }
  }
}
