.row {
  // @include make-container;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.htmlOutput {
  grid-column-start: 1;
  grid-column-end: 8;
}
.codeOutput {
  background-color: black;
  color: white;
  grid-column-start: 8;
  grid-column-end: 13;
}
