$electricLime: #bada55;

$mandalay: #b4891d;
$bigStone: #182e42;
$blueWood: #2c3e50;
$pictonBlue: #48b2f8;
$mariner: #2980b9;
$thunderBird: #d51515;

$accent: $mandalay;
$correct: $bigStone;
$complete: $pictonBlue;
$danger: $thunderBird;

$white: #fff;
$offWhite: #e5e5e5;
$black: #1c2738;

$text-color-light: $offWhite;
$text-color-dark: $black;

$border-color-light: $offWhite;

$bg-light: $offWhite;
$bg-dark: $black;

$padding: 1.15rem;

$brand-primary: $electricLime;
$brand-primary-light: lighten($electricLime, 15%);
$brand-secondary: $pictonBlue;
$brand-secondary-light: lighten($pictonBlue, 15%);
$brand-secondary-dark: darken($pictonBlue, 15%);
