// ------------------------------------------------------ //
// General Settings
// ---------------
//
@import url("https://fonts.googleapis.com/css?family=BioRhyme:400,800|Cabin:300,400,700");
// ------------------------------------------------------ //
// Padding
//
$padding: 1.15rem;
// sass-lint:disable-all
// ----------------------------------------------------------------------------------- //
// reference material
// scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
// css-tricks.com/snippets/css/media-queries-for-standard-devices
// ----------------------------------------------------------------------------------- //
// below is a really comprehensive guide to break points
// responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
// ----------------------------------------------------------------------------------- //
// iphone  || small devices || desktops || wide screens || large screens || super wide //
// xs: 320 || sm: 480       || md: 768  || lg: 1024     || xl: 1274      || xxl: 1548  //
// ----------------------------------------------------------------------------------- //
$container-max-widths: (
  xs: 90%,
  sm: 400px,
  md: 688px,
  lg: 944px,
  xl: 1194px,
  xxl: 1468px
);
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1274px,
  xxl: 1548px
);
// ------------------------------------------------------ //
// Columns
$grid-columns: 12;
$grid-gutter-width-base: 1vw;
// sass-lint:enable-all
// ------------------------------------------------------ //
// Colors
// ------
// Grays
$white: #fff;
$off-white: #f4f4f4;
$light-gray: #eaeaea;
$gray: #cacaca;
$gray-dark: #76767c;
$black: #212121;
// ------------------------------------------------------ //
// Design Colors
$sanjuan: #2d4c68;
$sanjuan-light: lighten($sanjuan, 15%);
$limeade: #29a200;
$limeade-dark: darken($limeade, 15%);
$electric-lime: #bada55;
$electric-lime-dark: darken($electric-lime, 15%);
$persimmon: #ff6048;
$persimmon-light: rgba($persimmon, 50%);
$sea-buckthorn: #f59a3a;
$sea-buckthorn-light: rgba($sea-buckthorn, 50%);
$dodger-blue: #14b4f9;
$dodger-blue-light: rgba($dodger-blue, 50%);
$medium-purple: #925aec;
$medium-purple-light: rgba($medium-purple, 50%);
$tradewind: #57bba3;
$tradewind-light: rgba($tradewind, 50%);
$bittersweet: #fd6a6a;
$bittersweet-light: rgba($bittersweet, 50%);
// ------------------------------------------------------ //
// Brand Definitions
$brand-primary: $limeade;
$brand-primary-alt: $limeade-dark;
$brand-secondary: $electric-lime;
$brand-secondary-alt: $electric-lime-dark;
// ------------------------------------------------------ //
// stuff
$bg-gray: $off-white;
// ------------------------------------------------------ //
// Text Colors
$text-color-light: $white;
$text-color-medium: $gray-dark;
$text-color-dark: $sanjuan;
// ------------------------------------------------------ //
// Link Colors
$link-color-primary: $sanjuan;
$link-color-secondary: $limeade;
// ------------------------------------------------------ //
// Typography
$font-title: "Cabin", sans-serif;
$font-code: "BioRhyme", serif;
$line-height: 1.5em;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 700;
// ------------------------------------------------------ //
// Font Sizes
$font-size-base: 1rem;
$font-size-xs: $font-size-base - 0.4;
$font-size-sm: $font-size-base - 0.25;
$font-size-md: $font-size-base;
$font-size-lg: $font-size-base + 0.5;
$font-size-xl: $font-size-base + 1;
$font-size-xxl: $font-size-base + 2;
$title-size-base: $font-size-xl;
// Font
$title-size-sm: $font-size-lg;
$title-size-lg: $font-size-xxl;
$text-size-base: $font-size-md;
$text-size-sm: $font-size-sm;
$text-size-lg: $font-size-lg;
// ------------------------------------------------------ //
// Brand Maps
$lesson-color-map: $medium-purple $dodger-blue $tradewind $persimmon $sanjuan;
