.lessons {
  display: flex;
  flex-wrap: wrap;
}

.lesson {
  flex: 1 0 auto;
  max-width: calc(25% - #{$padding});
  margin-bottom: $padding;

  @include base-box-shadow;
  @include transition;
  position: relative;

  &:not(:last-child) {
    margin-right: $padding;
  }

  @include max-screen("lg") {
    max-width: calc(50% - #{$padding});
  }

  @for $i from 1 through length($lesson-color-map) {
    $color: nth($lesson-color-map, $i);

    &:nth-child(#{$i}n + 1) {
      background-color: $color;
    }
  }

  &:hover {
    @include hover-box-shadow;

    @for $i from 1 through length($lesson-color-map) {
      $color: nth($lesson-color-map, $i);

      &:nth-child(#{$i}n + 1) {
        background-color: darken($color, 10%);
        cursor: pointer;
      }
    }
  }
}

.lesson__link {
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.lesson__img {
  width: 100%;
  object-fit: cover;
}

.lesson__title {
  text-align: center;
  margin: $padding 0;
  font-family: $font-title;
  font-weight: $font-weight-light;
  color: $text-color-light;
}
