//
// Animation Mixins
//
// sass-lint:disable-all
@mixin transition($type: all, $transition-time: 0.25s, $ease: ease) {
    transition: $type $transition-time $ease;
}

@mixin animated-link($color) {
    position: relative;
    text-decoration: none;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $color;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.5s ease-in-out 0s;
    }

    &:hover {
        &:before {
            visibility: visible;
            transform: scalex(1);
        }
    }
}
