html {
  @include fluid-type(map-get($grid-breakpoints, sm), map-get($grid-breakpoints, xxl), 12px, 20px);
}

body {
  margin: 0;
  font-family: font(family, text);
  font-weight: font(weight, normal);
  letter-spacing: 1px;
}

.global-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background: color(bg);
  color: color(text);
}

.text-center {
  text-align: center !important;
}

.table-container {
  height: 75vh;
  overflow-y: auto;

  th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

pre {
  max-height: 75vh;
  max-width: 100%;
  overflow: auto;
}

.sticky {
  position: sticky;
  top: 60px;
}
