body {
  margin: 0;
  font-family: font(family, text);
  font-weight: font(weight, normal);
  letter-spacing: 1px;
}

::-webkit-scrollbar-track {
  background: color(scroll-bar-bg);
}

::-webkit-scrollbar {
  width: 6px;
  background: color(scroll-bar-bg);
}

::-webkit-scrollbar-thumb {
  background: color(scroll-bar);
}

.global-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background: color(bg);
  color: color(text);
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 66px - 2rem);
  padding-top: layout(padding, xxl);
}

.complete-icon {
  display: none;

  .has-completed & {
    display: block;
  }
}
