.code-gui {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(50vh, 80vh) minmax(15vh, 50vh);
  grid-template-areas:
    "code render render"
    "code minimap minimap";
  height: calc(100vh - 52px);
  width: 100vw;
  position: fixed;
  top: 52px;
  left: 0;
}

.code-view {
  grid-area: code;
}

.render-view {
  grid-area: render;
  color: color(web-render-text);
  background: color(web-render);
  padding: layout(padding, md);
}

.mini-maps {
  grid-area: minimap;
}

.lesson-nav {
  grid-area: nav;
  background: color(bg, dark);
  padding: $padding;
}

.render {
  width: 100%;
  height: 100%;
  overflow: auto;
}
