.code-display {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 0.25s ease;
  position: relative;
  background: color(web-render);
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin: 0 !important;
}

.tab-group {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: layout(padding, sm);
  border-top: 4px solid transparent;
  transition: all 0.25s ease;
  color: color(web-tab-text);

  &:hover,
  &.focus {
    background: color(web-tab-bg);
    border-top: 4px solid color(web-tab-border);
  }
  &:focus {
    outline: none;
  }
}

.displays {
  background: color(web-tab-bg);
  padding: layout(padding, sm);
  height: calc(100% - 37px);
  position: relative;
}

.display {
  transition: all 0.25s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background: color(minimap-bg1);

  &.focus {
    opacity: 1;
  }
}

.display-line {
  padding: 4px layout(padding, sm);
  color: color(web-tab-text);

  &:nth-child(even) {
    background: color(minimap-bg2);
  }
}
