.code-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50%, 90%) minmax(10%, 50%);
  grid-template-areas:
    "code"
    "desc";
  height: 100%;
  border: 5px solid color(web-bg);
}

// Code Block
.code-block {
  grid-area: code;
  color: color(web-text);
  background: color(web-bg);
}

.cursor {
  animation: blink 1.25s ease infinite;
}

.row {
  min-height: 25px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 $padding/2;
}

.character {
  font-size: font(text, lg);
  padding: 0;
  min-width: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.05rem;
  margin: 0 0 5px;
}

.complete,
.correct {
  color: color(web-character-bg);
  // border-bottom: 1px solid color(web-character-bg);
  font-weight: bold;
}

.completeRow,
.currentRow {
  background: color(web-current-row);
}

// Code Lesson Block
.code-lesson {
  grid-area: desc;
  border-top: 0;
  border-bottom: 0;
  background: color(web-lesson-bg);
  padding: 1rem;
  overflow-y: auto;
  color: color(web-lesson-text);
}

.code-lesson__title {
  margin: 0;
  font-size: 1.25rem;
}

@keyframes flashError {
  0% {
    background: red;
  }

  100% {
    background: rgba(255, 0, 0, 0);
  }
}

@keyframes blink {
  0% 100% {
    background: color(web-cursor1);
  }
  50% {
    background: color(web-cursor2);
  }
}
